{% load menu_tags home_tags %}

<footer>
    <div class="org-footer d-print-none">
        <div class="container-lg">
            <div class="row">
                {% flat_menu 'ncar_org_links' show_menu_heading=False template='menus/ncar_footer.html' %}
                {% flat_menu 'ucar_org_links' show_menu_heading=False template='menus/ucar_footer.html' %}
                {% social %}
            </div>
        </div>
    </div>

    {% flat_menu 'legal_footer' show_menu_heading=False template='menus/legal_footer.html' %}

    <div class="nsf-footer py-3">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-12 col-md-1 pb-3 pb-md-0 me-md-3">
                    {% include "unity/picture_wagtail_media.html" with image="NSF_Official_logo" alt="NSF Logo" %}
                </div>
                <div class="col-12 col-md-10 flex-md-grow-1">
                    <p class="mb-0">This material is based upon work supported by the NSF National Center for Atmospheric Research, a major facility sponsored by the U.S. National Science Foundation and managed by the University Corporation for Atmospheric Research. Any opinions, findings and conclusions or recommendations expressed in this material do not necessarily reflect the views of the National Science Foundation.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
