#modal-window {
    position: fixed;
    background-color: #dbe2e9;
    border-radius: 7px 7px 7px 7px;
    overflow: auto;
    z-index: 3000;
}
#shader {
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    opacity: 0.8; /* most browsers */
    filter: alpha(opacity=80); /* IE7 */
    background-color: #2a2a2a;
}
#modal-window-wrapper {
    position: relative;
}
#modal-window-content {
    overflow: auto;
}
#modal-window-close {
    position: fixed;
    z-index: 3002;
    cursor: pointer;
    content: url("/static/images/close_button.png");
}
.modal-loader:before, .modal-loader:after {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.modal-loader:before {
    content: url("/images/loader.gif");
}
.modal-loader:after {
    content: " Fetching content ...";
}
